a {
	text-decoration: none;
	color: green;
	font-family: cursive;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
	color: red;
	background-color: yellow;
	font-weight: bolder;
	font-size: 40px;
}
a:visited {
	text-decoration: underline;
	color: #003366;
	font-weight: inherit;
}
head {
	font-size: 50px;
	font-weight: bold;
}
li {
	color:blue;
	font-weight: bold;
	font-family: Verdana;
	font-size: 30px;
}
.padding-toplinks {
	padding:20px;
	text-align: center;
}
#on-website {
	color: #00BA00;
	font-weight: bold;
}
.ColorFull {
	color: #6600FF;
	font-weight: bold;
	font-size: 40px;
}
#colorFull {
	color: #FFFF00;
	font-size: 50px;
	font-weight: lighter;
	background-color: blue;
}
.RUBY {
	color: #FF0000;
	background-color: #0000FF;
}
.smallimg {
	width: 20px;
	height: 30px;
}
